a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: white;
  color: black;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/* ここからfirstview*/

.relative {
  position: relative;
}


.firstview__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

h1 {
  font-family: 'Gorditas', cursive;
}

.absolute-1 {
  color: purple;
  position: absolute;
  top: 18%;
  left: 22%;
  font-size: 5vw;
}

.growth {
  color: blue;
}

.absolute-2 {
  color: purple;
  padding-left: 22vw;
  margin-top: -10vw;
  font-size: 30px;
}

.absolute-3 {
  margin-top: 10px;
  padding-left: 22vw;
  font-size: 20px;
}

/*ここからNews*/
.news {
  margin-top: 150px;
  padding: 50px 0;

}

.news__ttl {
  font-size: 30px;
  text-align: left;
  padding-left: 22vw;
  font-family: 'Gorditas', cursive;
  color: purple;
  font-size: 30px;
}

.newssub_ttl {
  font-size: 30px;
  text-align: left;
  padding-left: 22vw;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}





.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 0 0;
}


.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* ここからがニュース記事のCSS */

.newsitem {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 222vw;
  width: 50%;
    margin-top: 70px;
    margin-left: 22vw;
}


.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #b3b1b1;
  margin-bottom: 20px;
}

.news_list_item a {
  position: relative;
  display: flex;
  padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item {
  background: purple;
  color: #ccc;
  border-radius: 14px;
  width: 6em;
  text-align: center;
  margin-left: 20px;
}

/*ここからAbout*/

.about {
  background: rgb(219, 217, 217);
}

.about__inner {
  width: 100%;
  height: 450px;
  padding: 30px 0;
  margin: auto;
}

.about__img {
  padding-left: 55%;
  margin: 20px;
  width: 30%;
  height: 30%;
}


.about__ttl {
  font-family: 'Gorditas', cursive;
  color: purple;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}

.aboutsub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: auto;
}

.about__content {
  max-width: 50%;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  padding-left: 170px;
  margin-bottom: 200px;
}

.about__text1 {
  width: 50%;
  margin-top: -40%;
}

.about__text2 {
  width: 50%;
  margin-top: 5vw;
}

/*ここからSurvice*/

.survice {
  margin: auto;
}

.service__ttl {
  color: purple;
  font-family: 'Gorditas', cursive;
  font-size: 20px;
  text-align: left;
  padding-left: 10vw;
  margin-top: 30px;
}

.servicesub_ttl {
  font-size: 30px;
  text-align: left;
  margin-bottom: 40px;
  padding-left: 10vw;
}

img {
  width: 100%;
  height: auto;
}

.grid__parent {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 2fr 2fr;
  margin-top: -70px;
}

.grid__parent {
  width: 800px;
  margin: auto;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/4;
  background: #b50099;
}

.service1 {
  margin: 60px;
}

.education {
  margin: 20px;
}

.educatuon__text {
  font-size: 20px;
}


.box2 {
  grid-column: 2/4;
  grid-row: 0/2;
  background: #9944cc;
}

.img2 {
  padding-left: 15px;
}

.service2 {
  display: flex;
  margin-top: 35px;
}


.box3 {
  grid-column: 2/4;
  grid-row: 2/4;
  background: #ab6cd0;
}

.img3 {
  padding-left: 15px;
}

.service3 {
  display: flex;
  margin-top: 35px;
}

.education__text {
  margin-top: 20px;
  font-size: 15px;
  padding-left: 20px;
}

/*ここからblog*/


.blog {
  background: #ebebeb;
  margin-top: 30px;
  }

.blog__inner {
  width: 100%;
  height: 50px;
  padding: 30px;
  margin: auto;
}

.title__inner {
  margin: 40px;
}


.blog__ttl {
  color: purple;
  font-family: 'Gorditas', cursive;
  font-size: 18px;
  text-align: left;
  padding-left: 5vw;
  margin-top: -50px;
}

.blogsub_ttl {
  font-size: 30px;
  text-align: left;
  padding-left: 5vw;
}

.blog_cat {
  align-items: center;
}

.flex__item {
  display: flex;
  align-content: center;
  
}

.practice__card {
  position: relative;
  width: 25%;
  height: 25%;
  margin: 10px;
}

.card__img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__content {
  background-color: white;
  padding: 1px 25px;
  border-radius: 0 0 20px 20px;
}

.card__ttl {
  font-size: 14px;
  margin: 20px;
  font-weight: 200;
}

.practice__card {
  left: 10vw;
  bottom: 10px;
}

.card__cat {
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
  border-radius: 20px 0 0 0;
  padding: 10px 10px;
  background: purple;
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.tag {
  display: flex;
  font-size: 14px;
  text-align: right;
  padding-bottom: 10px;
}

.card__tag {
  display: inline-block;
  color: #888888;
  font-size: 10px;
}

.card__date {
  margin: auto;
  display: inline-block;
  color: #767474;
  font-size: 10px;
}


.link {
  position: relative;
  background-color: white;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: purple;
  border: 1px solid purple;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: 10px auto;
  bottom: 10px;
}

/*ここからcompany*/
.company__ttl {
  color: purple;
  font-family: 'Gorditas', cursive;
  font-size: 20px;
  text-align: left;
  padding-left: 10vw;
  
}

.companysub_ttl {
  font-size: 30px;
  text-align: left;
  padding-left: 10vw;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 20vw;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  text-align: left;
  font-weight: bold;
  background-color: #dedede;
}

/*ここから採用情報*/
.ricruit_cat {
  display: flex;
  margin-top: 100px;
  
}

.ricruit img{
  position: relative;
  width: 100%;
}

.recruit_text {
  position: absolute;
    padding-top: 10vw;
    left: 20vw;
    font-size: 2.5vw;
    color: white;

}

.interview img{
  width: 100％;
  vertical-align: bottom;
}

.interview_text {
  position: absolute;
  padding-top: 10vw;
  right: 17vw;
    font-size: 2.5vw;
    color: white;
}


/*ここからestra*/
.estra {
  text-align: center;
  margin-top: 50px;
}

.title {
  margin: 20px 50vw;
  padding: 30px;
  border-left: 3px solid purple;
  width: 100px;
}


.plactice__btn {
  position: relative;
  background-color: rgb(130, 72, 130);
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  margin: 30px auto;
  box-shadow: 5px 5px 3px purple;
}

.plactice__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
}

/*ここからfooter*/

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background-color: rgb(202, 201, 201);
  color: black;
  padding: 20px 0;
  text-align: center;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.copyright {
  font-size: 12px;
}